<html lang="tr">
<body>

<div class="index content">
<h1 style="color: #5e9ca0;"><span style="color: #99cc00;">Pazaryeri demo v0.0.1</span></h1>
<h4 style="color: #2e6c80;">Yol haritası:</h4>
<p>1. MongoDb ve mongoose kullanarak basit bir login sistemi kurmak.</p>
<p>2. Sistemi genişletmek, form bulunduran birka&ccedil; sayfa eklemek.</p>
<p>3. API testleri ger&ccedil;ekleştirmek.</p>
<p>4. API'i entegre etmek.</p>
<p>5. İlerleyen adımlar...</p>
<p>&nbsp;</p>
<input type="form-control" id="username" type="text" placeholder="username" required="required">
<br>
<input type="password" id="password" placeholder="pw" required="required">
<br>
<button id="sendLogin" class="main-button" type="submit">Login</button>
<p>All rights reserved &copy; 2022.</p>
</div>

</body>
</html>
